bobody {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9; /* Light blue-gray */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #1d6521; /* Dark green */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.input-container {
    background-color: #e8f6e0; /* Light green */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container h2 {
    color: #1d6521; /* Dark green */
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #1d6521; /* Dark green */
}

.input-container input[type="number"] {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #1d6521; /* Dark green */
    border-radius: 5px;
}

.chart-container {
    width: 800px;
    margin: 20px auto;
    background-color: #ffffff; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #1d6521; /* Dark green */
    color: #ffffff; /* White */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #135015; /* Darker green */
}

/* Table styles */
.table-container {
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden; /* Ensure rounded corners are applied */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 10px;
    text-align: center;
}

.table-container thead {
    background-color: #1d6521; /* Dark green */
    color: #ffffff; /* White */
}

.table-container tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}

.table-container tbody tr:hover {
    background-color: #d9e5d6; /* Light green on hover */
}

